--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg110+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: analytics; Type: SCHEMA; Schema: -; Owner: nivaas
--

CREATE SCHEMA analytics;


ALTER SCHEMA analytics OWNER TO nivaas;

--
-- Name: core; Type: SCHEMA; Schema: -; Owner: nivaas
--

CREATE SCHEMA core;


ALTER SCHEMA core OWNER TO nivaas;

--
-- Name: feature_store; Type: SCHEMA; Schema: -; Owner: nivaas
--

CREATE SCHEMA feature_store;


ALTER SCHEMA feature_store OWNER TO nivaas;

--
-- Name: history; Type: SCHEMA; Schema: -; Owner: nivaas
--

CREATE SCHEMA history;


ALTER SCHEMA history OWNER TO nivaas;

--
-- Name: metadata; Type: SCHEMA; Schema: -; Owner: nivaas
--

CREATE SCHEMA metadata;


ALTER SCHEMA metadata OWNER TO nivaas;

--
-- Name: rag; Type: SCHEMA; Schema: -; Owner: nivaas
--

CREATE SCHEMA rag;


ALTER SCHEMA rag OWNER TO nivaas;

--
-- Name: raw; Type: SCHEMA; Schema: -; Owner: nivaas
--

CREATE SCHEMA raw;


ALTER SCHEMA raw OWNER TO nivaas;

--
-- Name: staging; Type: SCHEMA; Schema: -; Owner: nivaas
--

CREATE SCHEMA staging;


ALTER SCHEMA staging OWNER TO nivaas;

--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: amenity; Type: TABLE; Schema: core; Owner: nivaas
--

CREATE TABLE core.amenity (
    amenity_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    locality_id uuid NOT NULL,
    osm_type character varying(20),
    osm_id bigint,
    amenity_type character varying(50) NOT NULL,
    name text,
    address text,
    latitude numeric(9,6),
    longitude numeric(9,6),
    geometry public.geometry(Point,4326) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE core.amenity OWNER TO nivaas;

--
-- Name: availability_history; Type: TABLE; Schema: core; Owner: nivaas
--

CREATE TABLE core.availability_history (
    availability_history_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    listing_id uuid NOT NULL,
    availability_status character varying(30) NOT NULL,
    recorded_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE core.availability_history OWNER TO nivaas;

--
-- Name: image; Type: TABLE; Schema: core; Owner: nivaas
--

CREATE TABLE core.image (
    image_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    property_id uuid NOT NULL,
    image_url text NOT NULL,
    image_source character varying(100),
    image_type character varying(30) DEFAULT 'photo'::character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE core.image OWNER TO nivaas;

--
-- Name: image_analysis; Type: TABLE; Schema: core; Owner: nivaas
--

CREATE TABLE core.image_analysis (
    image_analysis_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    image_id uuid NOT NULL,
    model_name character varying(100),
    model_version character varying(50),
    room_type character varying(50),
    image_quality_score numeric(5,2),
    duplicate_score numeric(5,2),
    furnishing_detected boolean,
    greenery_score numeric(5,2),
    detected_labels jsonb DEFAULT '[]'::jsonb,
    analyzed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE core.image_analysis OWNER TO nivaas;

--
-- Name: listing; Type: TABLE; Schema: core; Owner: nivaas
--

CREATE TABLE core.listing (
    listing_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    property_id uuid NOT NULL,
    scrape_source_id uuid,
    external_listing_id text,
    listing_url text,
    title text,
    description text,
    rent_amount numeric(12,2) NOT NULL,
    deposit_amount numeric(12,2),
    maintenance_amount numeric(12,2),
    available_from date,
    listing_status character varying(30) DEFAULT 'active'::character varying NOT NULL,
    first_seen timestamp with time zone DEFAULT now() NOT NULL,
    last_seen timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_listing_deposit CHECK (((deposit_amount IS NULL) OR (deposit_amount >= (0)::numeric))),
    CONSTRAINT chk_listing_rent CHECK ((rent_amount > (0)::numeric))
);


ALTER TABLE core.listing OWNER TO nivaas;

--
-- Name: locality; Type: TABLE; Schema: core; Owner: nivaas
--

CREATE TABLE core.locality (
    locality_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(150) NOT NULL,
    city character varying(100) NOT NULL,
    state character varying(100) NOT NULL,
    country character varying(100) DEFAULT 'India'::character varying NOT NULL,
    pincode character varying(10),
    boundary public.geometry(MultiPolygon,4326) NOT NULL,
    centroid public.geometry(Point,4326) NOT NULL,
    area_sqkm numeric(10,2),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE core.locality OWNER TO nivaas;

--
-- Name: price_history; Type: TABLE; Schema: core; Owner: nivaas
--

CREATE TABLE core.price_history (
    price_history_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    listing_id uuid NOT NULL,
    rent_amount numeric(12,2) NOT NULL,
    recorded_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_price_positive CHECK ((rent_amount > (0)::numeric))
);


ALTER TABLE core.price_history OWNER TO nivaas;

--
-- Name: property; Type: TABLE; Schema: core; Owner: nivaas
--

CREATE TABLE core.property (
    property_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    locality_id uuid NOT NULL,
    property_type character varying(50) NOT NULL,
    address_line1 text,
    address_line2 text,
    postal_code character varying(10),
    bhk smallint NOT NULL,
    bathrooms smallint,
    area_sqft numeric(10,2) NOT NULL,
    floor_number smallint,
    total_floors smallint,
    furnishing_status character varying(30),
    property_age integer,
    latitude numeric(9,6) NOT NULL,
    longitude numeric(9,6) NOT NULL,
    geometry public.geometry(Point,4326) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_property_area CHECK ((area_sqft > (0)::numeric)),
    CONSTRAINT chk_property_bhk CHECK ((bhk > 0)),
    CONSTRAINT chk_property_lat CHECK (((latitude >= ('-90'::integer)::numeric) AND (latitude <= (90)::numeric))),
    CONSTRAINT chk_property_lon CHECK (((longitude >= ('-180'::integer)::numeric) AND (longitude <= (180)::numeric)))
);


ALTER TABLE core.property OWNER TO nivaas;

--
-- Name: property_feature; Type: TABLE; Schema: feature_store; Owner: nivaas
--

CREATE TABLE feature_store.property_feature (
    feature_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    property_id uuid NOT NULL,
    metro_distance_m double precision,
    bus_stop_distance_m double precision,
    hospitals_2km integer,
    schools_2km integer,
    restaurants_500m integer,
    parks_2km integer,
    supermarkets_1km integer,
    gyms_1km integer,
    rent_per_sqft numeric(10,2),
    amenity_density numeric(10,2),
    computed_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE feature_store.property_feature OWNER TO nivaas;

--
-- Name: availability_history; Type: TABLE; Schema: history; Owner: nivaas
--

CREATE TABLE history.availability_history (
    availability_history_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    property_id uuid NOT NULL,
    status character varying(30),
    recorded_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE history.availability_history OWNER TO nivaas;

--
-- Name: price_history; Type: TABLE; Schema: history; Owner: nivaas
--

CREATE TABLE history.price_history (
    price_history_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    property_id uuid NOT NULL,
    rent_amount numeric(12,2),
    recorded_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE history.price_history OWNER TO nivaas;

--
-- Name: scrape_run; Type: TABLE; Schema: metadata; Owner: nivaas
--

CREATE TABLE metadata.scrape_run (
    scrape_run_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    scrape_source_id uuid NOT NULL,
    started_at timestamp with time zone NOT NULL,
    completed_at timestamp with time zone,
    status character varying(20) NOT NULL,
    records_scraped integer DEFAULT 0,
    records_inserted integer DEFAULT 0,
    records_failed integer DEFAULT 0,
    error_message text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE metadata.scrape_run OWNER TO nivaas;

--
-- Name: scrape_source; Type: TABLE; Schema: metadata; Owner: nivaas
--

CREATE TABLE metadata.scrape_source (
    scrape_source_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    source_name character varying(100) NOT NULL,
    source_type character varying(50) NOT NULL,
    base_url text,
    description text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE metadata.scrape_source OWNER TO nivaas;

--
-- Name: document; Type: TABLE; Schema: rag; Owner: nivaas
--

CREATE TABLE rag.document (
    document_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    locality_id uuid,
    title text NOT NULL,
    source text,
    content text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE rag.document OWNER TO nivaas;

--
-- Name: document_chunk; Type: TABLE; Schema: rag; Owner: nivaas
--

CREATE TABLE rag.document_chunk (
    chunk_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    document_id uuid NOT NULL,
    chunk_index integer NOT NULL,
    chunk_text text NOT NULL,
    embedding public.vector,
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE rag.document_chunk OWNER TO nivaas;

--
-- Name: raw_listing; Type: TABLE; Schema: raw; Owner: nivaas
--

CREATE TABLE raw.raw_listing (
    raw_listing_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    scrape_run_id uuid NOT NULL,
    external_listing_id text,
    source_url text,
    payload jsonb NOT NULL,
    scraped_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE raw.raw_listing OWNER TO nivaas;

--
-- Name: staging_listing; Type: TABLE; Schema: staging; Owner: nivaas
--

CREATE TABLE staging.staging_listing (
    staging_listing_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    raw_listing_id uuid NOT NULL,
    scrape_run_id uuid,
    external_listing_id text,
    property_type character varying(100),
    bhk integer,
    bathrooms integer,
    rent_amount numeric(12,2),
    deposit_amount numeric(12,2),
    maintenance_amount numeric(12,2),
    furnishing_status character varying(50),
    area_sqft numeric(10,2),
    locality character varying(150),
    latitude double precision,
    longitude double precision,
    listing_url text,
    validation_status character varying(20) DEFAULT 'VALID'::character varying NOT NULL,
    validation_errors jsonb,
    transformed_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE staging.staging_listing OWNER TO nivaas;

--
-- Name: amenity amenity_pkey; Type: CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.amenity
    ADD CONSTRAINT amenity_pkey PRIMARY KEY (amenity_id);


--
-- Name: availability_history availability_history_pkey; Type: CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.availability_history
    ADD CONSTRAINT availability_history_pkey PRIMARY KEY (availability_history_id);


--
-- Name: image_analysis image_analysis_pkey; Type: CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.image_analysis
    ADD CONSTRAINT image_analysis_pkey PRIMARY KEY (image_analysis_id);


--
-- Name: image image_pkey; Type: CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.image
    ADD CONSTRAINT image_pkey PRIMARY KEY (image_id);


--
-- Name: listing listing_pkey; Type: CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.listing
    ADD CONSTRAINT listing_pkey PRIMARY KEY (listing_id);


--
-- Name: locality locality_pkey; Type: CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.locality
    ADD CONSTRAINT locality_pkey PRIMARY KEY (locality_id);


--
-- Name: price_history price_history_pkey; Type: CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.price_history
    ADD CONSTRAINT price_history_pkey PRIMARY KEY (price_history_id);


--
-- Name: property property_pkey; Type: CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.property
    ADD CONSTRAINT property_pkey PRIMARY KEY (property_id);


--
-- Name: locality uq_locality; Type: CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.locality
    ADD CONSTRAINT uq_locality UNIQUE (name, city);


--
-- Name: amenity uq_osm; Type: CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.amenity
    ADD CONSTRAINT uq_osm UNIQUE (osm_type, osm_id);


--
-- Name: property_feature property_feature_pkey; Type: CONSTRAINT; Schema: feature_store; Owner: nivaas
--

ALTER TABLE ONLY feature_store.property_feature
    ADD CONSTRAINT property_feature_pkey PRIMARY KEY (feature_id);


--
-- Name: availability_history availability_history_pkey; Type: CONSTRAINT; Schema: history; Owner: nivaas
--

ALTER TABLE ONLY history.availability_history
    ADD CONSTRAINT availability_history_pkey PRIMARY KEY (availability_history_id);


--
-- Name: price_history price_history_pkey; Type: CONSTRAINT; Schema: history; Owner: nivaas
--

ALTER TABLE ONLY history.price_history
    ADD CONSTRAINT price_history_pkey PRIMARY KEY (price_history_id);


--
-- Name: scrape_run scrape_run_pkey; Type: CONSTRAINT; Schema: metadata; Owner: nivaas
--

ALTER TABLE ONLY metadata.scrape_run
    ADD CONSTRAINT scrape_run_pkey PRIMARY KEY (scrape_run_id);


--
-- Name: scrape_source scrape_source_pkey; Type: CONSTRAINT; Schema: metadata; Owner: nivaas
--

ALTER TABLE ONLY metadata.scrape_source
    ADD CONSTRAINT scrape_source_pkey PRIMARY KEY (scrape_source_id);


--
-- Name: scrape_source scrape_source_source_name_key; Type: CONSTRAINT; Schema: metadata; Owner: nivaas
--

ALTER TABLE ONLY metadata.scrape_source
    ADD CONSTRAINT scrape_source_source_name_key UNIQUE (source_name);


--
-- Name: document_chunk document_chunk_pkey; Type: CONSTRAINT; Schema: rag; Owner: nivaas
--

ALTER TABLE ONLY rag.document_chunk
    ADD CONSTRAINT document_chunk_pkey PRIMARY KEY (chunk_id);


--
-- Name: document document_pkey; Type: CONSTRAINT; Schema: rag; Owner: nivaas
--

ALTER TABLE ONLY rag.document
    ADD CONSTRAINT document_pkey PRIMARY KEY (document_id);


--
-- Name: raw_listing raw_listing_pkey; Type: CONSTRAINT; Schema: raw; Owner: nivaas
--

ALTER TABLE ONLY raw.raw_listing
    ADD CONSTRAINT raw_listing_pkey PRIMARY KEY (raw_listing_id);


--
-- Name: staging_listing staging_listing_pkey; Type: CONSTRAINT; Schema: staging; Owner: nivaas
--

ALTER TABLE ONLY staging.staging_listing
    ADD CONSTRAINT staging_listing_pkey PRIMARY KEY (staging_listing_id);


--
-- Name: staging_listing uq_staging_raw_listing; Type: CONSTRAINT; Schema: staging; Owner: nivaas
--

ALTER TABLE ONLY staging.staging_listing
    ADD CONSTRAINT uq_staging_raw_listing UNIQUE (raw_listing_id);


--
-- Name: idx_amenity_geometry; Type: INDEX; Schema: core; Owner: nivaas
--

CREATE INDEX idx_amenity_geometry ON core.amenity USING gist (geometry);


--
-- Name: idx_listing_property; Type: INDEX; Schema: core; Owner: nivaas
--

CREATE INDEX idx_listing_property ON core.listing USING btree (property_id);


--
-- Name: idx_locality_boundary; Type: INDEX; Schema: core; Owner: nivaas
--

CREATE INDEX idx_locality_boundary ON core.locality USING gist (boundary);


--
-- Name: idx_locality_centroid; Type: INDEX; Schema: core; Owner: nivaas
--

CREATE INDEX idx_locality_centroid ON core.locality USING gist (centroid);


--
-- Name: idx_price_history_listing; Type: INDEX; Schema: core; Owner: nivaas
--

CREATE INDEX idx_price_history_listing ON core.price_history USING btree (listing_id);


--
-- Name: idx_property_geometry; Type: INDEX; Schema: core; Owner: nivaas
--

CREATE INDEX idx_property_geometry ON core.property USING gist (geometry);


--
-- Name: idx_chunk_document; Type: INDEX; Schema: rag; Owner: nivaas
--

CREATE INDEX idx_chunk_document ON rag.document_chunk USING btree (document_id);


--
-- Name: idx_document_locality; Type: INDEX; Schema: rag; Owner: nivaas
--

CREATE INDEX idx_document_locality ON rag.document USING btree (locality_id);


--
-- Name: amenity amenity_locality_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.amenity
    ADD CONSTRAINT amenity_locality_id_fkey FOREIGN KEY (locality_id) REFERENCES core.locality(locality_id) ON DELETE CASCADE;


--
-- Name: availability_history availability_history_listing_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.availability_history
    ADD CONSTRAINT availability_history_listing_id_fkey FOREIGN KEY (listing_id) REFERENCES core.listing(listing_id) ON DELETE CASCADE;


--
-- Name: image_analysis image_analysis_image_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.image_analysis
    ADD CONSTRAINT image_analysis_image_id_fkey FOREIGN KEY (image_id) REFERENCES core.image(image_id) ON DELETE CASCADE;


--
-- Name: image image_property_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.image
    ADD CONSTRAINT image_property_id_fkey FOREIGN KEY (property_id) REFERENCES core.property(property_id) ON DELETE CASCADE;


--
-- Name: listing listing_property_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.listing
    ADD CONSTRAINT listing_property_id_fkey FOREIGN KEY (property_id) REFERENCES core.property(property_id) ON DELETE CASCADE;


--
-- Name: price_history price_history_listing_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.price_history
    ADD CONSTRAINT price_history_listing_id_fkey FOREIGN KEY (listing_id) REFERENCES core.listing(listing_id) ON DELETE CASCADE;


--
-- Name: property property_locality_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: nivaas
--

ALTER TABLE ONLY core.property
    ADD CONSTRAINT property_locality_id_fkey FOREIGN KEY (locality_id) REFERENCES core.locality(locality_id) ON DELETE RESTRICT;


--
-- Name: property_feature property_feature_property_id_fkey; Type: FK CONSTRAINT; Schema: feature_store; Owner: nivaas
--

ALTER TABLE ONLY feature_store.property_feature
    ADD CONSTRAINT property_feature_property_id_fkey FOREIGN KEY (property_id) REFERENCES core.property(property_id) ON DELETE CASCADE;


--
-- Name: availability_history availability_history_property_id_fkey; Type: FK CONSTRAINT; Schema: history; Owner: nivaas
--

ALTER TABLE ONLY history.availability_history
    ADD CONSTRAINT availability_history_property_id_fkey FOREIGN KEY (property_id) REFERENCES core.property(property_id) ON DELETE CASCADE;


--
-- Name: price_history price_history_property_id_fkey; Type: FK CONSTRAINT; Schema: history; Owner: nivaas
--

ALTER TABLE ONLY history.price_history
    ADD CONSTRAINT price_history_property_id_fkey FOREIGN KEY (property_id) REFERENCES core.property(property_id) ON DELETE CASCADE;


--
-- Name: scrape_run scrape_run_scrape_source_id_fkey; Type: FK CONSTRAINT; Schema: metadata; Owner: nivaas
--

ALTER TABLE ONLY metadata.scrape_run
    ADD CONSTRAINT scrape_run_scrape_source_id_fkey FOREIGN KEY (scrape_source_id) REFERENCES metadata.scrape_source(scrape_source_id) ON DELETE RESTRICT;


--
-- Name: document_chunk document_chunk_document_id_fkey; Type: FK CONSTRAINT; Schema: rag; Owner: nivaas
--

ALTER TABLE ONLY rag.document_chunk
    ADD CONSTRAINT document_chunk_document_id_fkey FOREIGN KEY (document_id) REFERENCES rag.document(document_id) ON DELETE CASCADE;


--
-- Name: document document_locality_id_fkey; Type: FK CONSTRAINT; Schema: rag; Owner: nivaas
--

ALTER TABLE ONLY rag.document
    ADD CONSTRAINT document_locality_id_fkey FOREIGN KEY (locality_id) REFERENCES core.locality(locality_id) ON DELETE SET NULL;


--
-- Name: raw_listing raw_listing_scrape_run_id_fkey; Type: FK CONSTRAINT; Schema: raw; Owner: nivaas
--

ALTER TABLE ONLY raw.raw_listing
    ADD CONSTRAINT raw_listing_scrape_run_id_fkey FOREIGN KEY (scrape_run_id) REFERENCES metadata.scrape_run(scrape_run_id) ON DELETE CASCADE;


--
-- Name: staging_listing fk_raw_listing; Type: FK CONSTRAINT; Schema: staging; Owner: nivaas
--

ALTER TABLE ONLY staging.staging_listing
    ADD CONSTRAINT fk_raw_listing FOREIGN KEY (raw_listing_id) REFERENCES raw.raw_listing(raw_listing_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

